/* #fragTitle {
  position: relative;
  bottom: 10px;
  left: 40px;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
  color: green;
} */

button {
  border-radius: .25rem;
  background-color: #007bff;
  border-color: #007bff;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  padding: .375rem .75rem;
  line-height: 1.5;
  font-family: inherit;
  font-size: inherit;
}

/* Select Note Highlight Color */
g.note.playing {
  fill: #007bff;
}

button {
  border-radius: .20rem;
  background-color: #007bff;
  border-color: #007bff;
  color: white;
  padding: 3px 10px 5px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  line-height: 1;
  font-family: inherit;

}

button.midi {
  border-radius: .20rem;
  background-color: #007bff;
  border-color: #007bff;
  color: white;
  padding: 3px 10px 5px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px
  margin: 4px 2px;
  cursor: pointer;
  line-height: 1;
  font-family: inherit;
}

button.player {
  border-radius: .20rem;
  background-color: #007bff;
  border-color: #007bff;
  color: white;
  padding: 3px 10px 5px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px
  margin: 4px 2px;
  cursor: pointer;
  line-height: 1;
  font-family: inherit;
}

button.back {
  border-radius: .20rem;
  background-color: #007bff;
  border-color: #007bff;
  color: white;
  padding: 6px 10px 4px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  line-height: 1;
  font-family: inherit;
}
