<script type="module">
    import 'https://www.verovio.org/javascript/app/verovio-app.js';

    // Create the app - here with an empty option object
    const app = new Verovio.App(document.getElementById("svg_output"), {});

    // Load a file (MEI or MusicXML)
    fetch("{{ site.baseurl }}/meimidi/meiEdit/{{ page.meifile }}")
        .then(function(response) {
            return response.text();
        })
        .then(function(text) {
            app.loadData(text);
        });

            function loadFile() {
                file = "{{ site.baseurl }}/meimidi/meiEdit/{{ page.meifile }}";
                $.ajax({
                    url: file
                    , dataType: "text"
                    , success: function(data) {
                        loadData(data);
                    }
                });
            }
</script>
