#fragTitle {
  position: relative;
  bottom: 10px;
  left: 40px;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
  color: green;
}

button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#help_overlay {
    position: fixed;
    bottom: 10px;
    left: 10px;
    padding: 20px;
    background-color: rgba(0,0,0,.8);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    z-index: 10000;
    color: #fff;
}

#help_overlay p {
    padding: 0px;
    margin: 2px;
}

/*************************************/
/* Choice overlay style for topic 09 */
/*************************************/

#choice_overlay {
    position: fixed;
    display: none;
    padding: 20px;
    background-color: rgba(0,0,0,.8);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    z-index: 10001;
    color: #fff;
}

#choice_overlay a {
    color: #fff;
    text-decoration: none;
}

#choice_overlay a:before {
	content: "\25B6   ";
}

#choice_overlay p {
    padding: 0px;
    margin: 2px;
    margin-bottom: 4px;
}

#choice_overlay p:not(:first-child) {
    margin-top: 8px;
    border-top: 1px solid #aaa;
    padding-top: 10px;
}
